# pip install -r requirements.txt
# pip cache purge 
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
ffmpeg-python==0.2.0
filetype==1.2.0
future==0.18.3
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
pyperclip==1.8.2
PyQt6==6.4.2
PyQt6-Qt6==6.4.3
PyQt6-sip==13.4.1
pytube==12.1.2
qt-material==2.14
toml==0.10.2